@page "/tablas/items"
@rendermode InteractiveServer
@layout Components.Layout.TablasLayout

@using MudBlazor

@if (_items is null) {
    <MudText>Loading ... </MudText>

    @if (_alertSettings.Show)
    {
        <MudAlert Severity="@_alertSettings.Type" ShowCloseIcon="true" CloseIconClicked="CloseAlert">@((MarkupString)_alertSettings.Text)</MudAlert>
    }
} else 
{ 
    <MudGrid>
        <MudItem xs="12" sm="12">
            <h3><em><u><span style="white-space: nowrap;">List # 1</span></u></em></h3>
        </MudItem>

        <MudItem xs="12" sm="12">
            @if (_alertSettings.Show)
            {
                <MudAlert Severity="@_alertSettings.Type" ShowCloseIcon="true" CloseIconClicked="CloseAlert">@((MarkupString)_alertSettings.Text)</MudAlert>
            }
        </MudItem>

        <MudItem xs="12" sm="12">

            <MudDataGrid T="Item_model"
                        Items="@_items"
                        Virtualize="true"
                        FixedHeader="true"
                        Height="350px"
                        Hover="true"
                        Dense="true"
                        Striped="true"
                        Bordered="true"
                        ReadOnly="false"
                        EditMode="DataGridEditMode.Cell"
                        Filterable="false">

                <Columns>
                
                    <PropertyColumn Property="@(p => p.Id)" 
                                    Filterable="false"
                                    HeaderStyle="font-weight: bold; "
                                    Sortable="false"
                                    Title="Id" />

                    <PropertyColumn Property="@(p => p.Description)"
                                    Title="Description"
                                    HeaderStyle="font-weight: bold; "
                                    Filterable="false"
                                    Sortable="true" />

                    <TemplateColumn HeaderStyle="font-weight: bold; " 
                                    Title="Options">

                        <EditTemplate>
                            <MudSelect @bind-Value="context.Item.OptionId"
                                        Dense="true"
                                        Margin="@Margin.Dense">

                                @if (_options is not null)
                                {
                                    foreach (var option in _options)
                                    {
                                        <MudSelectItem Value="@option.Id">@option.Description</MudSelectItem>
                                    }
                                }
                                
                            </MudSelect>
                        </EditTemplate>
                    </TemplateColumn>

                </Columns>
                    
            </MudDataGrid>
        </MudItem>

    </MudGrid>        
}

@code {
}

<MudBlazor.MudThemeProvider />
<MudBlazor.MudPopoverProvider />
<MudBlazor.MudDialogProvider />
<MudBlazor.MudSnackbarProvider />