@page "/administracion/userManagement"
@rendermode InteractiveServer
@layout Components.Layout.AdministracionLayout

@inject UserManager<ApplicationUser> _UserManager

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using scrweb_blazor.Data

@using Microsoft.FluentUI.AspNetCore.Components
@using Icons = Microsoft.FluentUI.AspNetCore.Components.Icons

@attribute [Authorize(Roles = "admin")]

<div style="height: 100%; width: 100%; border: 1px solid lightgray; padding: 15px; border-radius: 8px;">
    <FluentStack Orientation="Orientation.Vertical">
        <div>
            <FluentMessageBar Title="@fluentUIMessageBar!.Title" Intent="@fluentUIMessageBar!.Intent" Visible="@fluentUIMessageBar!.Visible">
                @((MarkupString)fluentUIMessageBar!.Text)
            </FluentMessageBar>
        </div>
    
        <FluentStack Orientation="Orientation.Horizontal">
            <div>
                <Microsoft.AspNetCore.Components.QuickGrid.QuickGrid Items="users.AsQueryable()" Virtualize="true" ItemKey="@(p => p.id)">
                
                    <Microsoft.AspNetCore.Components.QuickGrid.TemplateColumn Title="User Id" Class="_150px"
                                                                              Align="Microsoft.AspNetCore.Components.QuickGrid.Align.Left">
                        <a onclick="@(() => userSelected(@context.id))" role="button" style="cursor: pointer; color: green; text-decoration: underline; ">
                            @context.id
                        </a>
                    </Microsoft.AspNetCore.Components.QuickGrid.TemplateColumn>

                    <Microsoft.AspNetCore.Components.QuickGrid.PropertyColumn Property="@(p => p.name)" Title="Name" Class="_150px" Sortable="true"
                                                                              Align="Microsoft.AspNetCore.Components.QuickGrid.Align.Left" />
                    <Microsoft.AspNetCore.Components.QuickGrid.PropertyColumn Property="@(p => p.email)" Title="Email" Sortable="true" Class="_150px"
                                                                              Align="Microsoft.AspNetCore.Components.QuickGrid.Align.Left" />
                    <Microsoft.AspNetCore.Components.QuickGrid.PropertyColumn Property="@(p => p.emailConfirmed)" Title="Confirmado" Class="_65px"
                                                                              Align="Microsoft.AspNetCore.Components.QuickGrid.Align.Center" />
                </Microsoft.AspNetCore.Components.QuickGrid.QuickGrid>
            </div>
            <div>
                <div style="border: 1px solid lightgray; padding: 30px; border-radius: 8px; min-width: 200px;" >
                    <EditForm Model="@userModel" OnValidSubmit="@(async () => await handleDeleteUser())" FormName="usersForm" novalidate id="usersFormId" class="editForm">

                        <div><FluentTextField @bind-Value="userModel!.id" Label="ID" Style="font-size: 12px; min-width: 200px; " /></div>
                        <div><FluentTextField @bind-Value="userModel.name" Label="Name" Style="font-size: 12px; min-width: 200px; " /></div>
                        <div><FluentTextField @bind-Value="userModel.email" Label="Email" Style="font-size: 12px; min-width: 200px; " /></div>
                        <div><FluentTextField @bind-Value="userModel.emailConfirmed" Label="Email confirmado" Style="font-size: 12px; min-width: 200px; " /></div>
                            
                        <FluentButton id="buttonID" 
                                      Type="ButtonType.Submit" 
                                      Appearance="Appearance.Accent" 
                                      FormId="usersFormId"
                                      BackgroundColor="#BA2021"
                                      Color="white"
                                      Style="font-size: 12px; min-width: 200px; ">
                        Eliminar usuario
                    </FluentButton>

                    </EditForm>
                </div>
            </div>
        </FluentStack>
    </FluentStack>
</div>

<h3>User management</h3>

@code {
}
